html{
    box-sizing: border-box;
    overflow-y:hidden;
    background-color: rgb(14, 13, 13);
}
body{
    width: 100vw;
    height: 100vh;
}
.logo {
    width: 180px;
    height: 75.6px;
}


#conteudo{
    text-align: center;
    width: 100%;
    height: 100%;
    color: rgb(236, 232, 232);
    background-color: rgb(14, 13, 13);
    position: fixed;
}

.hidden {
    visibility: hidden;
}

#header {
    text-align: left;
    width: 100%;
    height: 75.6px;
    /* border: 2px solid black; */
    background-color: rgb(14, 13, 13);
}

#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
}

.usuario{
    width: 100px;
    height: 120px;
    border: 2px solid black;
    margin: 10px;
}

#abertura-netflix {
    width: 100%;
    height: 80%;
    position: absolute;
    position: fixed;
    background-color: rgb(14, 13, 13);
}

#main-netflix{
    width: 100%;
    height: 80%;
    background-color: white;
    position: fixed;
    top: 15%;
}